.item-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    margin: 20px;
}
.list-item {
    width: 314px;
    height: 200px;
    background-color: var(--raisin-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.item-text-container {
    width: 90%;
    padding: 5px;
}
.item-text-container h3 {
    max-height: 30;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--white);
}
.item-text-container p {
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--aquamarine);
}
.sideitem-img-container {
    overflow: hidden;
    width: 100%;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
