.sidemenu {
    height: 100vh;
    max-width: 600px;
    min-width: 600px;
    top: 0;
    right: 0;
    background-color: var(--dark-purple);
    overflow-y: scroll;
}
a {
    text-decoration: none;
}